<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anomaly Detection</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="form-container">
        <div class="line1">
            <h1 style="text-align: center; color: white;">DETECT ANOMALY</h1>
        </div>
        <div class="line2">
            <h6 style= color:blue>.</h6>
        </div>
        <form action="/detect" method="POST">
            {% for column in numeric_columns %}
            <div class="form-group">
                <label for="{{ column }}">{{ column }}</label>
                <input type="number" step="any" name="{{ column }}" required>
            </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
